:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.App {
  display: flex;
  flex-direction: row;
}

.container-followingcard {
  height: 200px;
  border: 4px solid black;
  border-radius: 10px;
  padding: 10px;
}

.tw-follow-card {
  width: 300px;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
}

.tw-follow-card .tw-follow-card-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-follow-card .tw-follow-card-header .tw-follow-card-info {
  display: flex;
  flex-direction: column;
}

.tw-follow-card .tw-follow-card-header .tw-follow-card-info-user {
  opacity: .6;
}

.tw-follow-card .tw-follow-card-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-follow-card .tw-follow-card-info-button {
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
  cursor: pointer;
}

.tw-follow-card-info-button.is-follow {
  border: 1px solid red;
}

.tw-follow-card-info-button.is-follow:hover {
  background: red;
}

.tw-follow-card-info-button:hover {
  opacity: .6;
  transition: .3s ease opacity;
}

.search-container {
  display: flex;
  gap: 10px;
  width: 100%;
  margin: 10px;
}

.search-container > input {
  width: 70%;
  height: 40px; 
  padding: 10px 20px; 
  border-radius: 20px; 
  border: 2px solid #007BFF; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-size: 1rem; 
  transition: border-color 0.3s ease;
}

.search-container > input:focus {
  border-color: #0056b3; 
  outline: none; 
}

.search-container > button {
  width: 50px; 
  height: 40px; 
  border-radius: 20px; 
  border: none; 
  background-color: #007BFF;
  color: #fff; 
  font-size: 1rem; 
  font-weight: bold; 
  cursor: pointer; 
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.search-container > button:hover {
  background-color: #0056b3; 
  transform: scale(1.05); 
}

.home-display {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 75vh;
}

.home-row-left {
  display: grid;
  width: 65%;
}

.home-row-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 30%;
  padding: auto;
}
